@page "/newtab.html"
@inherits BasePage;
@inject IJSRuntime JS;

<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
    <div class="row" style="height: 75px">
        <div class="col">
            <div class="dropdown">
                <button class="dropdown-toggle TopMenuIconStyle btn" type="button" id="waffleDropDown" data-bs-toggle="dropdown" aria-expanded="false" title="Microsoft 365 Sites/Apps">
                    <img src="\icons\fluent_square_menu.png" alt="waffle icon">
                </button>
                <div class="dropdown-menu p-4 text-muted M365PopUp" style="min-width: 350px" aria-labelledby="waffleDropDown">
                    <MS635Menu></MS635Menu>
                </div>
            </div>
        </div>
        <div class="col-5"></div>
        <div class="col-1">
            <div>
                <a href="https://rewards.microsoft.com/?FORM=ANNRW1&redref=amc" class="TopMenuIconStyle btn" title="Go To Microsoft Rewards Site">
                    <img src=".\icons\fluent_medal.png" alt="Click for Microsoft Rewards" class="TopMenuRewardsStyle">
                </a>
            </div>
        </div>
        <div class="col-1">
            <SettingsMenu @ref="SettingsMenuNewTab" OnQuickLinksFolderChangedCallBack="QuickLinksFolderChangedHandler"
                          OnSearchVisibleChangedCallBack="SearchVisibleChanged"
                          OnQuickLinksVisibleChangedCallBack="QuickLinksVisibleChanged"></SettingsMenu>
        </div>
    </div>
    <div class="row" style="margin-right: 0; margin-left: 0; height: 100px">
        <div class="col-6"></div>
        <div class="col-3">
            <a style="text-decoration: none; color: ghostwhite" href="@MuseumLink">
                <div class="MuseumCardStyle">
                    @MuseumCardText
                </div>
            </a>
        </div>
        <div class="col-3">
            <button class="imageNavigationButtonStyle" @onclick="GetPreviousImage" title="Previous Image">
                <img class="imageNavChevronStyle" src="icons/fluent_backward.png" alt="&lt;"/>
            </button>
            <button class="imageNavigationButtonStyle" @onclick="GetNextImage" title="Next Image">
                <img class="imageNavChevronStyle" src="icons/fluent_forward.png" alt="&gt;"/>
            </button>
        </div>
    </div>
    <div class="row" style="height: 100px">
        <div class="col">
            <a style="text-decoration: none; color: ghostwhite" href="@MuseumLink2">
                <div class="MuseumCardStyle">
                    @MuseumCardText2
                </div>
            </a>
        </div>
        <div class="col"></div>
        <div class="col-6">
            <form @onsubmit="Enter" class="SearchBoxOuterDivStyle" hidden="@(!_searchVisible)">
                <div class="input-group mb-3 SearchBoxFormStyle">
                    <input class="form-control SearchBoxStyle" type="text" @bind="SearchQuery" placeholder="Search the web" aria-label="Query" aria-describedby="queryButtonAddon">
                    <button class="btn SearchButtonStyle" type="button" id="queryButtonAddon" @onclick="FireSearchEngineQuery">
                        <img alt="Search Icon" src="./icons/fluent_search.png"/>
                    </button>
                </div>
            </form>
        </div>
        <div class="col">
            <img src=".\icons\fluent_download.png" class="DownloadButtonStyle" alt="Click To Download" title="Click to download this image" @onclick="OnDownloadImageClick" hidden="@(!_searchVisible)"/>
        </div>
        <div class="col"></div>
    </div>
    <div class="row" style="height: 30px"></div>
    <div class="row" style="height: auto">
        <div class="col">
            <CascadingValue Value="this">
                <div class="QuickLinkContainer container-fluid" hidden="@(!_quickLinksVisible)">
                    @{
                        if (_quickLinks != null)
                        {
                            foreach (var quickLink in _quickLinks)
                            {
                                <QuickLinkComponent
                                    QuickLinkTitle="@GetQuickLinkName(quickLink.QuickLinkTitle)"
                                    QuickLinkUrl="@quickLink.QuickLinkUrl"
                                    QuickLinkId = "@quickLink.QuickLinkId"
                                    QuickLinkImageUrl="@quickLink.QuickLinkImageUrl">
                                </QuickLinkComponent>
                            }
                        }
                        <EmptyQuickLinkComponent OnSaveEventCallback="SaveNewQuickLinkClickHandler">
                        </EmptyQuickLinkComponent>

                    }
                </div>
            </CascadingValue>

        </div>
    </div>
</div>