<div>
    <button class="QuickLinkContent" @onclick="OnQuickLinkClicked">
        <div class="QuickLinkBookMarkImageContainer" @onclick="OnQuickLinkClicked">
            <img src="@QuickLinkImageUrl" class="QuickLinkBookMarkImage" alt="@QuickLinkTitle" title="@QuickLinkUrl"/>
        </div>
        <br>
        <span class="QuickLinkTitle" title="@QuickLinkUrl" @onclick="OnQuickLinkClicked">@QuickLinkTitle</span>
    </button>
    <img class="QuickLinkDeleteButton" src="icons\fluent_ellipsis.png" alt="Delete This Quick link" title="Delete this Quick Link" @onclick="OnDeleteQuickLinkButton_Click"/>
</div>